ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:last-child {
    border-right: none;
}

li a:hover {
    background-color: #111;
}
.active {
    font-weight: 800;
}

.row {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class="col-md-1"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
}

[class="col-md-12"] {
  font-family: "Verdana",sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
}
[class="col-md-10*"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
  height: 220px;
}
[class="col-md-10"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
}
[class="col-md-1*"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  text-align: center;
}

.pilt {
    float:left;
    height: 150px;
    width: 180px;
}

.img-responsive {
  max-width: 100%;
  height:auto;
  display: block;
}

body{
  background-image: url("background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;  
}

.container.pad {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}
[class="col-md-8"] {
  font-family: "Verdana",sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
}
[class="col-md-6*"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
  height: 220px;
}
.search {
  position: relative;
  background: #333;
  max-width: 100%;
  margin-top: 50px;
  float: right;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.search input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
    width: 500px;
    height: 100px;
}
