ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:last-child {
    border-right: none;
}

li a:hover {
    background-color: #111;
}
.active {
    font-weight: 800;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class="picturesOnTop"] {
    position:absolute;
    top:0;
    left:0;
}

[class="col-md-1"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
}

    [class="col-md-12"] {
  font-family: "Verdana",sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  background: lightgreen;
  background:linear-gradient(lightgray, white, lightgray);
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
  
}
[class="col-sm-12"] {
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

[class="col-md-4"] {
  font-family: "Verdana",sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
}

[class="col-md-10*"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
  height: 220px;
}
[class="col-md-10"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
}
[class="col-md-1*"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  text-align: center;
}

.pilt {
    float:left;
    height: 150px;
    width: 180px;
}

.img-responsive {
  max-width: 100%;

  height:auto;
  display: block;
}

body{
  background-image: url("../pildid/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


.container.pad {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
}
[class="col-md-8"] {
  font-family: "Verdana",sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  background: lightgreen;
  background:linear-gradient(lightgray, white, lightgray);
  
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
}
[class="col-md-6*"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
  height: 220px;
}
.search {
  position:static;
  background: #333;
  max-width: 100%;
  margin-top: 15px;
  float: right;
  padding: 50px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.search input {
  font-family: "Verdana", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
}



textarea {
    width: 600px;
    height: 100px;
}

fieldset {
    display: block;
    margin: 1.0em auto;
    text-align: center;
}
[class="col-sm-3"] {
  width: 100%;
  height: 100%;
  }
  
[class="col-sm-9"] {
  width: 100%;
  height: 100%;  
  }


#image{position:absolute;z-index:1;}

#container{
    display:inline-block;
    box-sizing: content-box;
    margin: 0 auto; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#container2{
    height: 556px;
    width: 904px;
    box-sizing: content-box;
    margin: 0 auto; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#myCanvas{
    position:relative;
    z-index:20;
}

select {
  margin: 50px;
  border: 1px solid #111;
  border-radius: 2px;
  width: 150px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  padding: 5px 35px 5px 5px;
  font: normal 14px/normal Verdana, Geneva, sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../pildid/otsing_icon.png) 96% / 15% no-repeat rgba(252,252,252,1);
}

select::-ms-expand { 
    display: none;
    font: normal 14px/normal Verdana, Geneva, sans-serif;
}

#redigate {
    margin-left: 10px;
    border: 1px solid #111;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #E9E9E9;
    box-shadow: 2px 2px 2px #888888;
}
/*
#add {
    margin-left: 10px;
    border: 1px solid #111;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #E9E9E9;
    box-shadow: 2px 2px 2px #888888;
}*/

button:disabled{
    color:#CAC7C7;
    
}

button{
    padding: 3px 5px 3px 5px;
}

#cancel {
    margin-left: 10px;
    border: 1px solid #111;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #E9E9E9;
    box-shadow: 2px 2px 2px #888888;
}

.upload {
   position: relative;

}

.upload input {
    display: inline-block;
    margin-left: 520px;
    margin-bottom: 40px;
}
.enjoy-css-nupp {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(255,255,255,1);
  text-shadow: 0 0 0 rgba(0,0,0,1) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.enjoy-css-input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 15px;
  border-radius: 5px;
  font: normal 14px/normal Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.kuulutus{
    font: normal 16px/normal Verdana, sans-serif;
}


/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}



